{% extends "layout.html" %}

{% block title %}
About Me
{% endblock %}

{% block heading %}
About Me
{% endblock %}

{% block bodying %}
<h2>Backstory</h2>
<p class="h6">Raised in a vietnamese household with my mom, grandma, stepdad, older sister, younger half-sister, and younger half-brother. I had a good childhood, taken for granted until these days that seem so unfair. At the age of 12, my mom was
  divorced and
  we lived in a mobile home for the remainder of my high school days. I tell myself I'm not affected by it, tried to be brave and show that I could replace the role of a male figure in the family. I would be the one to fix the TVs, computers, leaks,
  and toys. This was also the time when I was getting exposed to my mom's financial issues.</p>
<br>
<h2>Present Day</h2>
<p class="h6">My vision is clear, my path is straight forward, and my mind is in the present moment. I've read a good amount of self help books to guide me through these past several months, where I was lost and feeling stressed from my mother's
  finacial
  burdens. In the most recent book, I learned not to be afraid of other humans, for we all want the same thing. I decided to relinquish this want for myself in order to live on stressless and free. So far, so good.</p>
<br>
<h2>My Path</h2>
<ul class="list-group">
  <li class="list-group-item">
    Finish CS50 Web Programming Course
    <ul>
      <li>Project 0</li>
      <li>Project 1</li>
      <li>Project 2</li>
      <li>Project 3</li>
    </ul>
  </li>
  <li class="list-group-item">
    Update resumes, cover letters, and LinkedIn CONSTANTLY
  </li>
  <li class="list-group-item">
    Apply to various job openings
    <ul>
      <li>Web Developer</li>
      <li>Application Developer</li>
      <li>Software Engineer</li>
      <li>IT Associate</li>
    </ul>
  </li>
  <li class="list-group-item">
    Study for interviews
    <ul>
      <li>dailycodingproblems.com</li>
      <li>cracking the coding interview book</li>
      <li>leetcode.com</li>
      <li>study interview questions</li>
    </ul>
  </li>
  <li class="list-group-item">
    Always Stay uncomfortable and continue learning, rinse, and repeat
  </li>
</ul><br><br>
{% endblock %}