{% extends "layout.html" %}

{% block title %}
Cosplay
{% endblock %}

{% block heading %}
Cosplay and Me
{% endblock %}

{% block bodying %}
<h2>In a Nutshell</h2>
<div class="constainer">
  <div class="row">
    <div class="col-sm">Character</div>
    <div class="col-sm">Anime/Game</div>
    <div class="col-sm">Convention</div>
    <div class="col-sm">Completion Level</div>
  </div>
  <div class="row">
    <div class="col-sm">Hidomi Hibajiri</div>
    <div class="col-sm">Anime: FLCL 2</div>
    <div class="col-sm">Fanime 2019</div>
    <div class="col-sm">70%</div>
  </div>
  <div class="row">
    <div class="col-sm">Bellringer Angel</div>
    <div class="col-sm">Game: Shadowverse/Grande Blue</div>
    <div class="col-sm">Anime Expo 2017</div>
    <div class="col-sm">10%</div>
  </div>
  <div class="row">
    <div class="col-sm">BloodMoon Akali</div>
    <div class="col-sm">Game: League of Legends</div>
    <div class="col-sm">Fanime 2016</div>
    <div class="col-sm">40%</div>
  </div>
  <div class="row">
    <div class="col-sm">Jinx</div>
    <div class="col-sm">Game: League of Legends</div>
    <div class="col-sm">Sac Anime 2015</div>
    <div class="col-sm">80%</div>
  </div>
  <div class="row">
    <div class="col-sm">Marceline</div>
    <div class="col-sm">TV Show: Adventure Time</div>
    <div class="col-sm">Stockton Con 2013</div>
    <div class="col-sm">90%</div>
  </div>
</div>
<br>

<h4>What did I learn?</h4>
<p class="h6">I spent a whole lot of money trying to complete all of these cosplay projects that I never finished one before starting another. It's not like I meant to give up on these, they just slowly became less exciting for me and I no longer
  wanted to work on them. Newer cooler characters would come to mind and I would start working on making costumes for them and once I was tired, or didn't want to work hard on making the cosplay, I put it to the side, swearing that I would not give
  up on them and one day, pick them back up.</p>
<p class="h6">It wasn't until my Marie Kondo came into my life, that I was able to declutter all my cosplay. I realized that seeing this unfinished/unloved work made me uphappy, and once I tossed it all, it was like clouds had cleared from my mind.
  This did not mean that I gave up on cosplay all together, I just started on a clean plate. I vowed to never start another cosplay without finishing dive current one. I am still working on my Hidomi Hibajiri.</p><br><br>
{% endblock %}