{% extends "bootstrap/base.html" %}
{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
<link rel='icon' href="{{ url_for('static', filename='images/favicon.ico') }}" type='image/x-icon' />
{% endblock %}
{% block body %}
{% block navbar %}
<header>
  <a href="{{ url_for('index') }}" class="header-brand">cubchow</a>
  <nav>
    <ul>
      <li><a href="{{ url_for('about') }}">About Me</a></li>
      <li><a href="{{ url_for('cosplay') }}">Cosplay</a></li>
      <li><a href="{{ url_for('mukbang') }}">Mukbang</a></li>
    </ul>
  </nav>
</header>
{% endblock %}
{% block content %}
<main id=main>
  <h1>{% block heading %}{% endblock %}</h1>
  <div class="container">
    {% block bodying %}
    {% endblock %}
  </div>
</main>
{% endblock %}
{% endblock %}