{% extends "layout.html" %}

{% block heading %}
  First Page
{% endblock %}

{% block body %}
  <p>Nam mi ex, pulvinar ac ornare egestas, interdum nec erat. Nulla facilisi. Vestibulum porta felis at ex tristique placerat. Vestibulum sodales risus quis cursus mollis. Praesent at magna porttitor, facilisis leo nec, accumsan arcu. Proin nec nulla fringilla, pellentesque est pulvinar, feugiat purus. Pellentesque at neque nulla. Etiam viverra eget ligula nec dignissim. Maecenas eget mauris pretium, molestie nisl tempus, suscipit nunc. Ut commodo vitae risus eu eleifend. Sed id nunc mi. Nam in velit non neque ullamcorper pellentesque. Pellentesque lobortis est congue consequat vestibulum. Suspendisse sit amet dui nec orci ullamcorper laoreet.</p>

  <a href="{{ url_for('more') }}">See more...</a>
{% endblock %}
