{% extends "layout.html" %}

{% block heading %}
  Second Page
{% endblock %}

{% block body %}
  <p>Aenean non semper ante, vel dignissim ipsum. Sed et neque porttitor, blandit sem sit amet, faucibus magna. Mauris rhoncus at libero quis iaculis. Maecenas egestas sagittis magna at ornare. Ut non nisi scelerisque, semper arcu id, facilisis arcu. Vivamus lacinia lobortis mauris non semper. Proin sollicitudin in massa sed varius. Morbi sapien erat, efficitur at finibus sed, mollis at velit. Sed vitae ullamcorper lectus, a rhoncus nisi. Donec pretium sagittis nibh, id interdum turpis accumsan non. Phasellus egestas volutpat massa in dapibus. Etiam interdum est ex. Curabitur at porttitor ante. Sed sollicitudin, dui non iaculis tempus, nisi mauris vulputate dui, eu faucibus sapien odio aliquet ipsum.</p>

  <a href="{{ url_for('index') }}">Go back</a>
{% endblock %}
